.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.green{
  color: green;
}

.bottomright {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 70%;
}

.uppeleft {
  margin: 0;
  position: absolute;
  top: -60%;
  left: -60%;
}

.bottomleft {
  margin: 0;
  position: absolute;
  top: 60%;
  left: -60%;
}